<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <main class="container">
        <div class="rol">
            <div class="col-8 offset-2">
                <form action="">
                   <div class="card">
                    <div class="card-header">
                       <h5> <p>Registration</p></h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" name="username" id="username" class="form-control" placeholder="Username" aria-describedby="username" required>
                          <small id="username" class="text-muted">Username is required</small>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" name="password" id="password" class="form-control" placeholder="Password" aria-describedby="password" required>
                          <small id="password" class="text-muted">Password is required</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Current Password</label>
                            <input type="password" name="currentpassword" id="currentpassword" class="form-control" placeholder="Current password" aria-describedby="password" required>
                            <small id="currentpassword" class="text-muted">Password is required</small>
                          </div>
                          <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm Password" aria-describedby="password" required>
                            <small id="confirmpassword" class="text-muted">Confirm Password is required</small>
                          </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Change Password</button>
                        <button class="btn btn-danger" type="reset">Cancle</button>
                    </div>
                   </div>
                </form>
            </div>
        </div>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>