<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-image: url(image/background.gif);">
    <main class="container">
        <div class="row">
            <div class="col-7">
                <div class="card text-center mt-3 bg-dark"style="opacity: 90%;">
                    <div class="card-header">
                        <img class="img-fluid" src="image/th2.jpg" alt="">
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title text-white">Đấu La Đại Lục</h5>
                        <p class="card-text text-white">DESCRIPTION</p>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit">Like</button>
                        <button class="btn btn-primary" type="submit">DISLIKE</button>

                    </div>
                </div>
                <div class="card my-0 mt-2">
                    <div class="card-header">
                        <h2>Infomation</h2>
                    </div>
                    <div class="card-body">
                        <ul style="list-style-type: none; color: seagreen; ">
                            <li>Tập mới: 11</li>
                            <li>Trạng thái:Đang chiếu</li>
                            <li>Thể loại: Anime</li>
                            <li>Quốc gia: Trung Quốc</li>
                        </ul>
                    </div>
                   
                </div>
            </div>
            <div class="col-5" style="color: rgb(86, 86, 16);">
                <div class="row mt-3 mb-3">
                    <div class="card text-center" style="background-color: rgb(208, 199, 199); opacity: 80%;">

                        <div class="card-body ">
                            <img src="image/th (1).jpg" alt="" class="img-fluid" width="200px">
                            <a href="">
                                <h3>
                                    <p> Đảo hải tặc</p>
                                </h3>
                            </a>
                            <div class="col-10">
                                <button class="btn btn-primary" type="submit">Like</button>
                                <button class="btn btn-primary" type="submit">Watch</button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="card text-center" style="background-color: rgb(208, 199, 199); opacity: 80%;">

                        <div class="card-body ">
                            <img src="image/th (1).jpg" alt="" class="img-fluid" width="200px">
                            <a href="">
                                <h3>
                                    <p> Đảo hải tặc</p>
                                </h3>
                            </a>
                            <div class="col-10">
                                <button class="btn btn-primary" type="submit">Like</button>
                                <button class="btn btn-primary" type="submit">Watch</button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="card text-center" style="background-color: rgb(208, 199, 199); opacity: 80%;">

                        <div class="card-body ">
                            <img src="image/th (1).jpg" alt="" class="img-fluid" width="200px">
                            <a href="">
                                <h3>
                                    <p> Đảo hải tặc</p>
                                </h3>
                            </a>
                            <div class="col-10">
                                <button class="btn btn-primary" type="submit">Like</button>
                                <button class="btn btn-primary" type="submit">Watch</button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="card text-center" style="background-color: rgb(208, 199, 199); opacity: 80%;">

                        <div class="card-body ">
                            <img src="image/th (1).jpg" alt="" class="img-fluid" width="200px">
                            <a href="">
                                <h3>
                                    <p> Đảo hải tặc</p>
                                </h3>
                            </a>
                            <div class="col-10">
                                <button class="btn btn-primary" type="submit">Like</button>
                                <button class="btn btn-primary" type="submit">Watch</button>

                            </div>
                        </div>

                    </div>
                </div>
                
               

            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>