<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <main class="container-fluid">
        <nav class="row">
            <nav class="navbar navbar-expand-sm navbar-light bg-light col">
                <a class="navbar-brand" href="#">Administration</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-info" aria-hidden="true"></i> Video</a>
                        </li>
                        <div class="nav-item">
                            <a href="" class="nav-link"><i class="fa fa-id-card" aria-hidden="true"></i>Users</a>
                        </div>

                        <div class="nav-item">
                            <a href="" class="nav-link"><i class="fa fa-comment" aria-hidden="true"></i>Reports</a>

                        </div>

                    </ul>

                </div>
            </nav>
        </nav>
        <section class="row">
            <div class="col mt-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="videoEditing-tab" data-toggle="tab" href="#videoEditing"
                            role="tab" aria-controls="videoEditing" aria-selected="true">Favorite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videolist-tab" data-toggle="tab" href="#videolist" role="tab"
                            aria-controls="videolist" aria-selected="false">Favorite Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                            role="tab" aria-controls="nav-contact" aria-selected="false">Share Friends</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="videoEditing" role="tabpanel" aria-labelledby="home-tab">
                        <table class="table table-strip">
                            <tr>
                                <td>Video Title</td>
                                <td>Favorites count</td>
                                <td>Lasted Day</td>
                                <td>Oldest Day</td>
                            </tr>
                            <tr>
                                <td>JavaScript</td>
                                <td>122</td>
                                <td>22/12/2022</td>
                                <td>23/12/2022</td>

                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="videolist" role="tabpanel" aria-labelledby="profile-tab">
                        <form action="" method="post">
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="">Video Title
                                                <select name="" id="" class="form-control ml-2">
                                                    <option value="">Java</option>
                                                </select>
                                            </label>
                                            <button class="btn btn-primary ml-2" type="submit">Report</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-3">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Username</td>
                                            <td>Fullname</td>
                                            <td>Email</td>
                                            <td>Favorite Date</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <form action="" method="post">
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="">Video Title
                                                <select name="" id="" class="form-control ml-2">
                                                    <option value="">Java</option>
                                                </select>
                                            </label>
                                            <button class="btn btn-primary ml-2" type="submit">Report</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-3">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Sender Name</td>
                                            <td>Sender Email</td>
                                            <td>Receiver Email</td>
                                            <td>Sent Date</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>

    </main>
    <script>
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>